extend ../dash_layout

block navigation 
	#menu.col-md-3
		ul.nav.nav-stacked
			li(role='presentation')
				a(href='/usuario/centros-medicos')
					span.glyphicon.glyphicon-home(aria-hidden='true')
					|  Centros Médicos
			li(role='presentation')
				a(href='/usuario/examenes')
					span.glyphicon.glyphicon-list-alt(aria-hidden='true')
					|  Mis Exámenes

block content 
	.col-md-9

block list
	li.dropdown
		a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
			span.glyphicon.glyphicon-cog(aria-hidden='true')
			span.caret
		ul.dropdown-menu
			li
				a(href='/usuario/perfil')
					span.glyphicon.glyphicon-user(aria-hidden='true')
					|  Perfil
			li
				a(href='/usuario/password')
					span.glyphicon.glyphicon-pencil(aria-hidden='true')
					|  Contraseña
	li
		a(href='/usuario/logout')
			span.glyphicon.glyphicon-off(aria-hidden='true')
			|  Salir
