extends dash_user


block content
	.col-md-9
		.panel
			.panel-body#home
				h1 Bienvenido, Nombre
				.row
					.container.col-md-6
						h3 Centros Médicos
						img.img-responsive(src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/clinic.png", alt='Centros', style='width:100px;height:100px')
						p En esta opción puede consultar la información de nuestros centros médicos tanto nuestras horarios de atención como nuestra ubicación. Lo estamos esperando.
					.container.col-md-6
						h3 Mis Exámenes
						img.img-responsive(src='https://cdn2.iconfinder.com/data/icons/medical-icons-110/512/medical_icon_1-128.png', alt='Examenes', style='width:100px;height:100px')
						p En esta opción puede consultar la información de los exámenes que se ha realizado o se están realizando y una vez que están listos, puede descargarse el PDF de los resultados.
				.row
					.container.col-md-6
						h3 Mi Perfil
						img.img-responsive(src='https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-128.png', alt='Perfil', style='width:100px;height:100px')
						p En esta opción puede editar los datos de su cuenta.
					.container.col-md-6
						h3 Salir
						img.img-responsive(src='https://cdn0.iconfinder.com/data/icons/customicondesign-office6-shadow/128/logout.png', alt='Salir', style='width:100px;height:100px')
						p Haga click en esta opción si desea salir del portal.