extends dash_user

block content
	.col-md-9
			+panel-default("Cambio Contrase単a")
				form.form-horizontal(action='/usuario/password/newPass', method='post')
					h3 Cambiar Contrase単a
					.form-group.form-inline
						label.control-label.col-md-2(for='passNueva1') Nueva Contrase単a:
						input#passNueva1.form-control.col-md-6(type='password', name='newpassword1')
					.form-group.form-inline
						label.control-label.col-md-2(for='passNueva2') Confirme Contrase単a:
						input#passNueva2.form-control.col-md-6(type='password', name='newpassword2')
					button#btnGuardarpass.col-md-2.col-md-offset-2.col.btn-primary.btn(type="submit") Guardar Cambios
