extend ../dash_layout

block navigation 
	#menu.col-md-3
		ul.nav.nav-stacked
			li(role='presentation')
				a(href='/laboratorista/muestras')
					span.glyphicon.glyphicon-list(aria-hidden='true')
					|  Administrar Muestra

block content 
	.col-md-9

block list
	li
		a(href='/laboratorista/logout')
			span.glyphicon.glyphicon-off(aria-hidden='true')
			|  Salir