extends dash_lab


block content
	.col-md-9
		.panel
			.panel-body#home
				h1 Bienvenido
				.row
					.container.col-md-6
						h3 Recepción de Muestras
						img.img-responsive(src="https://cdn3.iconfinder.com/data/icons/scarycons/140/blood-128.png", alt='Pacientes', style='width:100px;height:100px')
						p Aquí puede ver marcar las muestras como recibidas o notificar si ocurrió algún inconveniente.
					.container.col-md-6
						h3 Ingreso de Resultados de Muestras
						img.img-responsive(src='https://cdn4.iconfinder.com/data/icons/flatified/128/clipboard.png', alt='Muestras', style='width:100px;height:100px')
						p Aquí puede ingresar los resultados de los exámenes realizados a las muestras.
				.row
					.container.col-md-6
						h3 Salir
						img.img-responsive(src='https://cdn0.iconfinder.com/data/icons/customicondesign-office6-shadow/128/logout.png', alt='Salir', style='width:100px;height:100px')
						p Haga click en esta opción si desea salir del portal.