extends dash_lab

block content
	.col-md-9
		+panel-default("Resultados")
			.panel-body
				h3 Muestra #{muestra.codigo}
				if muestra.tipo == "Heces"
					.table-responsive
						table#tblMuestras.table.table-hover
							thead
								tr
									th Parametro
									th Resultado
									th Unidad
									th Valor de Referencia
							tbody
					
				a(href='/laboratorista/muestras')#btnVolver.col-md-3.col-md-offset-2.btn(type='button').btn-default
					| Volver
				button#btnGuardar.col-md-3.col-md-offset-2.btn(type="submit").btn-primary Guardar

							
append scripts
	script
		include ../../public/javascripts/labResultados.js