extend dash_operario

block content 
	.col-md-9
		+panel-default("Gráficos Estadísticos")
			.panel-body
				.form-group
					.radio
						label
							input(type='radio', name='optradio')
							| Total de Muestras Asignadas por Laboratorio
					.radio
						label
							input(type='radio', name='optradio')
							| Total de Muestras Mensuales por Laboratorio
						form.form-inline.fechaForm
							.form-group.col-md-6
								label.control-label(for='pickDesde') Desde:
								input#pickDesde(type='text')
							.form-group.col-md-6
								label.control-label(for='pickHasta') Hasta:
								input#pickHasta(type='text')
					if muestras
						- var count1=0;
						- var count2=0;
						- var count3=0;
						- var count4=0;
						each muestra in muestras
							if muestra.lab == 'Laboratorio 1'
								-count1++;
							if muestra.lab == 'Laboratorio 2'
								-count2++;
							if muestra.lab == 'Laboratorio 3'
								-count3++;
							if muestra.lab == 'Laboratorio 4'
								-count4++;
						h1#cont1(hidden='')= count1
						h1#cont2(hidden='')= count2
						h1#cont3(hidden='')= count3
						h1#cont4(hidden='')= count4
				a(href='/operario/reportes/estadistica').col-md-4.col-md-offset-4.btn(type='button').btn-primary
					|Generar Gráfico
		
		#chartContainer
append scripts
	script
		include ../../public/javascripts/operario.js
