extends dash_operario


block content
	.col-md-9
		.panel
			.panel-body#home
				h1 Bienvenido
				.row
					.container.col-md-6
						h3 Administrar Pacientes
						img.img-responsive(src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-128.png", alt='Pacientes', style='width:100px;height:100px')
						p Aquí puede ver la información de los pacientes ingresados al sistema, con la opción de editar, eliminar o agregar un paciente.
					.container.col-md-6
						h3 Administrar Muestras
						img.img-responsive(src='https://cdn3.iconfinder.com/data/icons/scarycons/140/blood-128.png', alt='Muestras', style='width:100px;height:100px')
						p Aquí puede ver la información de las muestras ingresadas al sistema, con la opción de editar, eliminar o agregar una muestra.
				.row
					.container.col-md-6
						h3 Generación de Gráficos
						img.img-responsive(src='https://cdn4.iconfinder.com/data/icons/banking-and-finance/500/graphs-128.png', alt='Graficos', style='width:100px;height:100px')
						p En esta opción puede ver generar gráficos estadísticos con la información del número de muestras por laboratorio o por centro médico.
					.container.col-md-6
						h3 Salir
						img.img-responsive(src='https://cdn0.iconfinder.com/data/icons/customicondesign-office6-shadow/128/logout.png', alt='Salir', style='width:100px;height:100px')
						p Haga click en esta opción si desea salir del portal.