extend dash_operario

block content
    .col-md-9
        +panel-default("Informacion de Muestra")
            .panel-body
                form(action='/operario/ingreso-muestras/nuevaMuestra', method='post')
                    .form-group.col-md-12.form-inline
                        label.col-md-3.control-label(for='pacientes') Paciente:
                        select#pacientes.col-md-4.form-control(name="cedula")
                            if pacientes
                                each paciente in pacientes
                                    option(value=paciente.cedula)=paciente.cedula

                    .form-group.form-inline
                        .form-group.col-md-12
                            label.col-md-3.control-label(for='centromed') Centro Médico:
                            select#centromed.col-md-4.form-control(name="centro")
                        .form-group.col-md-12
                            label.col-md-3.control-label(for='muestras') Tipo de Muestra:
                            select#muestras("onchange"="cargarExamenes()").col-md-4.form-control(name="muestra")
                                option(value='Sangre') Sangre
                                option(value='Heces') Heces
                                option(value='Orina') Orina
                        .form-group.col-md-12
                            label.col-md-3.control-label(for='fechaMuestra') Fecha Toma Muestra:
                            input#fechaMuestra.col-md-4.form-control(type='date', name='fecha', required='')

                    .form-group.form-inline.col-md-12
                        label.col-md-3.control-label(for='laboratorio') Laboratorio:
                        select#laboratorio.col-md-4.form-control(name='lab')
                            option(value='Laboratorio 1') Laboratorio 1
                            option(value='Laboratorio 2') Laboratorio 2
                            option(value='Laboratorio 3') Laboratorio 3
                            option(value='Laboratorio 4') Laboratorio 4
                    .form-group.form-inline.col-md-12
                        label.col-md-3.control-label Exámenes a realizar:
                        select#tblExamen.col-md-4.form-control(name="examenes")
                    //button#btnVolver.col-md-3.col-md-offset-2.btn(type="button") Volver
                    a(href='/operario/muestras')#btnVolver.col-md-3.col-md-offset-2.btn(type='button')
                        | Volver
                    button#btnCodigo.col-md-3.col-md-offset-2.btn(type="submit").btn-primary
                        span.glyphicon.glyphicon-barcode(aria-hidden='true')
                        |     Generar Código

append scripts
    script
        include ../../public/javascripts/operario.js

