extends dash_layout

append styles
	style
		include ../public/stylesheets/signin.css
	
block body
	header.container-fluid
		h1 SaludPrimero S.A
	.container
		.panel-body.col-md-5.center
			form.form-signin
				.input-group
					span#basic-addon1.input-group-addon
						span.glyphicon.glyphicon-user(aria-hidden='true')
					input.form-control(id='inputNombre', type='text', name='email', placeholder='Nombre de Usuario', aria-describedby='basic-addon1' required='', autofocus='')
				.input-group
					span#basic-addon1.input-group-addon
						span.glyphicon.glyphicon-lock(aria-hidden='true')
					input.form-control(id='inputPassword', type='password', name='password', placeholder='Password', aria-describedby='basic-addon1' required='')
				select.form-control(id='selectRol', name='rol')
					option(value='cliente') Cliente
					option(value='operario') Operario
					option(value='laboratorista') Laboratorista
				
				button.btn.btn-lg.btn-primary.btn-block(type='submit', onclick="move()") Sign in
	script.
		function move(){
			window.location.href='/dashboard/usuario'
		}
	footer.container-fluid
			p.text-center
				small Todos los Derechos Reservados

block list
	li
		a(href='/user/logout')
			span.glyphicon.glyphicon-off(aria-hidden='true')
			|  Salir