extends ../node_modules/jade-bootstrap/_bootstrap

append styles
	style
		include ../public/stylesheets/signin.css
	
block body
	header.container-fluid
		h1 SaludPrimero S.A
	.container
		.panel-body.col-md-5.center
			
				
				
	footer.container-fluid
			p.text-center
				small Todos los Derechos Reservados
